* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #f4f6f9;
}

.side-bar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-right: 1px solid rgba(190, 188, 188, 0.562);
    box-shadow: 5px 0px 5px rgba(164, 163, 163, 0.435);
}

.side-bar h2 {
    padding:20px 20px 20px 40px;
}

.side-bar ul {
    list-style-type: none;
    padding: 20px;
    margin-left: 15px;
}

.side-bar ul li a{
    text-decoration: none;
    color: #333;
    padding: 15px;
    font-size: 20px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.side-bar ul li a:hover{
    background-color: #f8f9fa;
}

.side-bar ul li a.active {
    background-color: rgb(182, 30, 101);
    color: white;
}

.main-content {
    flex-grow: 1;
    padding: 30px 45px 30px;
    background-color: #c9c9c9d3;
}

.main-content h2 {
    margin-bottom: 40px;
}

.grid-row {
    display: grid;
    gap: 35px;
    margin-bottom: 55px;
    
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.329);
}

.card-row-1 { 
    padding: 25px;
    position: relative;
}


.card-row-1 .card-body {
    display: flex;
    justify-content: space-between;
}

.card-row-1 .card-body .card-icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -45px;
    font-size: 45px;
    color: white;
}

.color-green {
    background-color: rgb(103, 168, 4);
}
.color-orange {
    background-color: rgb(236, 168, 41);
}
.color-blue {
    background-color: rgb(59, 59, 187);
}
.color-pink {
    background-color: rgb(194, 23, 94);
}

.card-row-1 .card-body .card-information {
    text-align: right;
}

.card-row-1 .card-body .card-information .card-title {
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.card-row-1 .card-body .card-information .card-value {
    font-size: 30px;
    color: rgb(73, 73, 73);
}

.card-row-1 .card-footer {
    padding-top:20px;
}

.card-row-1 .card-footer .card-description {
    font-size: 14px;
    color: gray;
}

.card-row-1 .card-footer .card-description i {
    color: black;
}

.card-row-2 {
    padding: 25px 25px 0px 25px;
}

.card-row-2 .card-header {
    height: 120px;
    position: relative;
    display: flex;
    justify-content: center;
}

.card-row-2 .card-header .card-graph{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    color: #ffffff;
    position: absolute;
    top: -50px;
    box-shadow: 2px 2px 4px rgba(63, 58, 58, 0.505);
}

.card-row-2 .card-body {
    padding: 12px 0;
}

.card-row-2 .card-body .title {
    font-size: 22px;
    color: gray;
}
.card-row-2 .card-body .description {
    font-size: 16px;
    color: gray;
}

.card-row-2 .card-footer {
    font-size: 14px;
    color: gray;
    padding: 16px 0;
}

.card-row-2 .card-footer i {

    color: black;
}